/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  /* colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #00a2ff;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  /* colors */

  /* trasitions */

  --tran-01: all 0.2s ease;
  --tran-02: all 0.3s ease;
  --tran-03: all 0.4s ease;
  --tran-04: all 0.5s ease;
  --tran-05: all 0.6s ease-in;

  /* transitions */
  /* Variables */
}

body {
  height: 100vh;
  background: var(--body-color);
  -webkit-transition: var(--tran-02);
  -o-transition: var(--tran-02);
  transition: var(--tran-02);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #fff;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body.dark .name {
  color: var(--toggle-color);
}

.name {
  font-size: 16px;
}

.sidebar .text {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 250px;
  width: 100%;
  background: var(--sidebar-color);
  padding: 10px 14px;
  -webkit-transition: var(--tran-02);
  -o-transition: var(--tran-02);
  transition: var(--tran-02);
}

.sidebar.close {
  width: 88px;
}

.sidebar.close .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sidebar.close .text {
  opacity: 1;
}

.sidebar .image-text img {
  width: 100px;
  height: 30px;
}

.sidebar.close .image-text img {
  width: 60px;
  height: 20px;
}

.sidebar.close .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.sidebar header .image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.sidebar.close header .image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.sidebar header .toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 238px;
  background: var(--primary-color);
  border-radius: 50%;
  font-size: 16px;
  color: var(--sidebar-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
  overflow: hidden;
}

.sidebar.close header .toggle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 77px;
  background: var(--primary-color);
  border-radius: 50%;
  font-size: 16px;
  color: var(--sidebar-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
  rotate: 180deg;
}
.sidebar li {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-size: 10px;
}
.sidebar li .icon {
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  font-size: 15px;
  color: var(--text-color);
  -webkit-transition: var(--tran-01);
  -o-transition: var(--tran-01);
  transition: var(--tran-01);
}

.sidebar .search-box {
  background: var(--primary-color-light);
  font-size: 14px;
  border-radius: 6px;
  margin-top: 20px;
}

.sidebar.close .search-box {
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
  width: 60px;
  margin-top: 20px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: var(--primary-color-light);
  border-radius: 6px;
}

.sidebar.close input {
  display: none;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
}

.search-box input:hover {
  background: var(--primary-color);
  color: var(--sidebar-color);
  -webkit-transition: var(--tran-01);
  -o-transition: var(--tran-01);
  transition: var(--tran-01);
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-transition: var(--tran-01);
  -o-transition: var(--tran-01);
  transition: var(--tran-01);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li :hover .icon,
.sidebar li :hover .text {
  color: var(--sidebar-color);
}

.menu-links {
  margin-top: 40px;
}

.sidebar.close .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.sidebar.close .menu-links span {
  display: none;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
}

.menu-bar .mode {
  background: var(--primary-color-light);
  border-radius: 6px;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-content {
  margin-top: 160px;
}
.sidebar.close .bottom-content {
  margin-top: 350px;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode .sun {
  opacity: 0;
}

body.dark .menu-bar .mode .sun {
  opacity: 1;
}

body.dark .menu-bar .mode .moon {
  opacity: 0;
}

.sidebar.close .text.nav-text {
  display: none;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-bar .mode .toggle-switch {
  height: 100%;
  min-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  background: var(--toggle-color);
  border-radius: 25px;
}

.switch::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--sidebar-color);
  cursor: pointer;
  -webkit-transition: var(--tran-02);
  -o-transition: var(--tran-02);
  transition: var(--tran-02);
}

body.dark .switch::before {
  left: 24px;
}

.sidebar.close .moon-sun {
  display: none;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.sidebar.close .mode-text {
  display: none;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
/* end of header elements */

/* start of first section */

.section1 {
  background-image: url(../images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.png);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100%;
  height: 933px;
  padding-left: 250px;
}

body.dark .section1 {
  background-image: url(../images/GymGirlDark.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100%;
  height: 933px;
  padding-left: 250px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.changes .section1 {
  padding-left: 0;
  -webkit-transition: var(--tran-02);
  -o-transition: var(--tran-02);
  transition: var(--tran-02);
}

.wrapper-first-page {
  padding-left: 130px;
  padding-top: 300px;
}

.small-font-description {
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.big-font-description {
  font-size: 45px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  max-width: 813px;
  width: 100%;
  height: 145px;
}

body.dark .big-font-description {
  color: var(--text-color);
}

body.dark .small-font-description {
  color: var(--text-color);
}

.button a {
  color: #000;
}

.button {
  width: 301px;
  height: 93px;
  background-color: #00a2ff;
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-box-shadow: #3591e7 0px 5px 15px;
          box-shadow: #3591e7 0px 5px 15px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
body.dark .button:hover {
  -webkit-box-shadow: #00a2ff 0px 5px 15px;
          box-shadow: #00a2ff 0px 5px 15px;
}

body.dark .button a {
  color: #000;
}

body.dark .button {
  background-color: #00a2ff;
  color: #000;
}

/* end of first section */

/* start of second section */

.section2 {
  height: 100vh;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 75px;
  height: auto;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.changes .section2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.information-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 670px;
  width: 100%;
  height: 674px;
}

.hr {
  size:4; 
  width:238px ;
  border: 1px #3591e7;
  margin: 0;
}

.images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-left: 20px;
  max-width: 821px;
  width: 100%;
  height: 930px;
}
.gym {
  max-width: 380px;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.darkmode {
  display: none;
}
.left-side.darkness .gym {
  display: none;
  max-width: 380px;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.left-side {
  max-width: 380px;
  width: 100%;
  height: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-side.darkness .darkmode {
  display: inline-block;
  max-width: 380px;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.right-side {
  max-width: 380px;
  width: 100%;
  height: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side.darkness .darkmode {
  display: inline-block;
  max-width: 380px;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.right-side.darkness .gym {
  display: none;
  max-width: 380px;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 25px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.top-text {
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.header-section {
  font-size: 55px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.info-1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin-top: 60px;
}

.huge-info {
  font-size: 30px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
}

.button-2 {
  max-width: 201px;
  width: 100%;
  height: 53px;
  background-color: #00a2ff;
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-top: 90px;
}

.button-2 a {
  color: #000;
}

.button-2:hover {
  opacity: 0.9;
  cursor: pointer;
  -webkit-box-shadow: #3591e7 0px 5px 15px;
          box-shadow: #3591e7 0px 5px 15px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.dark .info-1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #00a2ff;
  opacity: 0.7;
  margin-top: 60px;
  z-index: -1;
}

body.dark .button-2:hover {
  -webkit-box-shadow: #00a2ff 0px 5px 15px;
          box-shadow: #00a2ff 0px 5px 15px;
}

body.dark .button-2 a {
  color: #000;
}

body.dark .button-2 {
  background-color: #00a2ff;
  color: #fff;
}

body.dark .header-section {
  color: #00a2ff;
  opacity: 0.7;
  z-index: -1;
}

body.dark .huge-info {
  color: #fff;
}

/* end of second section */

/* Start of Third Section */

.section-3 {
  width: 100%;
  min-height: 100vh;
  padding-left: 280px;
  padding-right: 30px;
  padding-top: 29px;
  background-color: #707070;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
  padding-bottom: 3px;
}

body.changes .section-3 {
  padding-left: 120px;
  padding-right: 30px;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
}

body.dark .section-3 {
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
  background-color: #000;
}

.info-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-classes {
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 10px;
}
body.dark .our-classes {
  color: #00a2ff;
}
.hr-3 {
  width: 128px;
  height: 2px;
  border-color: #5eb6e1;
}

body.dark .hr-3 {
  border-color: #fff;
}
.classes-info {
  width: 85%;
  font-size: 35px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 83px;
  line-height: 35px;
}

body.dark .classes-info {
  color: #b9b7b7;
}

.grid-wrap {
  width: 100%;
  height: auto;
  margin-top: 147px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 0 auto 0 auto;
  grid-template-columns: auto auto auto;
  gap: 0;
}

.grid-block {
  max-width: 546px;
  width: 100%;
  height: 460px;
  position: relative;
  -webkit-transition: var(--tran-04);
  -o-transition: var(--tran-04);
  transition: var(--tran-04);
}
.grid-block .image-2 {
  display: none;
}
body.dark .grid-block .image-2 {
  display: inline-block;
  -webkit-transition: var(--tran-04);
  -o-transition: var(--tran-04);
  transition: var(--tran-04);
}

body.dark .grid-block .image-1 {
  display: none;
}
.image-1 {
  max-width: 546px;
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

.image-2 {
  max-width: 546px;
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-grid-1 {
  color: #fff;
  max-width: 546px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: "poppins", sans-serif;
}

/* End of third section */

/* start of registration form */

.registracia-full {
  width: 100%;
  height: 100vh;
  background-image: url(../images/mountains.png);
  -o-object-fit: cover;
     object-fit: cover;
}
.fixe-message{
  width: 150px;
  height: 100px;
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: #00a2ff;
  padding-top: 20px;
}
.fixe-message a{
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  
}
.fixe-message a:hover{
  color: #fff;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.mtliani-wrapperi {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 200px;
}

.from-wrapper {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  height: 630px;
  z-index: 3;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(228, 227, 227, 0.9);
}

.two-items {
  width: 400px;
  border-radius: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  -webkit-transition: var(--tran-05);
  -o-transition: var(--tran-05);
  transition: var(--tran-05);
  margin-bottom: 15px;
}

.toggle-button {
  max-width: 240px;
  width: 100%;
  height: 40px;
  -webkit-transition: var(--tran-04);
  -o-transition: var(--tran-04);
  transition: var(--tran-04);
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #e4e3e3;
}

.socials {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-top: 25px;
}

.form-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.wrap-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-sb {
  width: 170px;
  height: 40px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #00a2ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  cursor: pointer;
}

.btn-sb:hover {
  opacity: 0.9;
  -webkit-box-shadow: #00a2ff 0px 5px 15px;
          box-shadow: #00a2ff 0px 5px 15px;
  -webkit-transition: var(--tran-04);
  -o-transition: var(--tran-04);
  transition: var(--tran-04);
}

#username {
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
  background-color: #e4e3e3;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input::-moz-placeholder {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input::placeholder {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

input {
  font-size: 18px;
}

#password {
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
  background-color: #e4e3e3;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

#pass2 {
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
  background-color: #e4e3e3;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

#email {
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
  background-color: #e4e3e3;
}

#checkbox {
  width: 20px;
  outline: none;
  height: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.span-text {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.fb {
  font-size: 45px;
  color: #00a2ff;
}
.tw {
  font-size: 45px;
  color: #00a2ff;
}
.gl {
  font-size: 45px;
  color: #00a2ff;
}

.show-hide-password {
  padding-left: 50px;
}
.show-password {
  font-size: 20px;
}

.error-text {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: red;
  padding-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}
/* end of registration form */

/* slider section */

.slider-section {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  padding-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.changes .slider-section {
  padding-left: 50px;
}

.slider-wrapper {
  width: 90%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.image-slide {
  width: 90%;
  height: 740px;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 0;
  font-size: 50px;
  color: #00a2ff;
  cursor: pointer;
}

.arrow-left:hover {
  color: #3a3b3c;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.arrow-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  right: -48px;
  font-size: 50px;
  color: #00a2ff;
  cursor: pointer;
}

.slide {
  width: 94%;
  margin: 0 auto;
}

.arrow-right:hover {
  color: #3a3b3c;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.h2header {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 5px;
}
body.dark .h2header {
  color: #fff;
}

body.dark .arrow-left:hover {
  color: #fff;
}

body.dark .arrow-right:hover {
  color: #fff;
}

.slider-main-header {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 5px;
  position: absolute;
  top: -40px;
  left: 45%;
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%);
}

body.dark .slider-main-header {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-top: 5px;
  position: absolute;
  top: -40px;
  left: 45%;
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%);
}

/* users */
.header-users{
  background-image: url(../images/pexels.jpg);
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.full-list-wrapper{
  max-width: 870px;
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ul-list {
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  height: 170px;
  overflow: hidden;
}
.ul-list .list-wrap {
  display: inline-block;
  margin-left: 45px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-2{
margin-top: 20px;
width: auto;
padding: 20px;
}

#next{
width:250px ;
height:40px ;
font-size: 20px;
font-weight: 700;
font-family: "Poppins", sans-serif;
color: #FFF;
background-color: #0382cc;
cursor: pointer;
border-radius: 30px;
}

#next:hover{
  background-color: #3591e7;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

#previous{
  width:250px ;
  height:40px ;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: #0382cc;
  cursor: pointer;
  border-radius: 30px;
}

#previous:hover{
  background-color: #3591e7;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}


.managers{
  height:70px ;
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 80px;
}
/* users */
.cookie-storage{
  width: 100%;
  height: 100vh;
  padding: 70px;
  
}
.fixed-list-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 30px;
  left: 20px;
  background-color: #00a2ff;
  width: 150px;
  height: 80px;
  border-radius: 30px;
}

.fixed-list-wrap a{
  margin-top: 10px;
  font-size:15px ;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.fixed-list-wrap a:hover{
  color: #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
.wraper-search{
  width: 100%;
  height: auto;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 20px;
}

.input-text{
  width: 300px;
  height: 50px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
}

.input-text1{
  width: 300px;
  height: 100px;
  font-size: 20px;
  margin-right: 32px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: solid 1px #00a2ff;
}

.input-text:active{
  outline: none;
  border: none;
}

.input-password{
  width: 200px;
  height: 100px;
  margin-top: 15px;
  font-size: 20px;
  margin-right: 32px;
}


.input-check{
  width: 20px;
  height: 20px;
}

.button2{
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background-color: cadetblue;
  font-size: 20px;
  border-radius: 30px;
}
.button2:hover{
  opacity: 0.9;
  background-color: #00a2ff;
  font-size: 20px;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
  cursor: pointer;
  -webkit-box-shadow: #00a2ff 0px 5px 15px;
          box-shadow: #00a2ff 0px 5px 15px;
}

.cookie-storage h1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.div-tag-2 h2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.wraper-lorem{
  width: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 90px;
  font-size: 25px;
  margin-top: 20px;
  background-color:cornflowerblue;
  overflow: hidden;
}

.info-wrap{
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-text{
  display: none;
  padding: 20px;
}
.active{
  rotate: 180deg;
}
.active-1{
  display: block;
  padding: 0 20px;
  background-color: cadetblue;
  -webkit-animation: fade 0.7s ease;
          animation: fade 0.7s ease;
  padding-bottom:5px ;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes fade {
  from{
      opacity: 0;
      -webkit-transform: translateY(-15%);
              transform: translateY(-15%);
  }
  to{
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
  }
}

@keyframes fade {
  from{
      opacity: 0;
      -webkit-transform: translateY(-15%);
              transform: translateY(-15%);
  }
  to{
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
  }
}

/* bottom section */

.bottom-info-wrapper{
  width: 100%;
  height:auto;
  padding-left:  260px;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.dark .bottom-info-wrapper{
  background-color: #242526;
}

body.changes .bottom-info-wrapper{
  padding-left: 120px;
}

.tags-wrap{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 8px auto 8px auto;
  grid-template-columns: auto auto auto;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
}

.tag-infos{
  border: solid 1px #000;
  width: auto;
  height: auto;
  padding: 10px;
}

.tag-infos:hover{
  background-color: #4cbcfd;
  cursor: pointer;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.dark .tag-infos{
  color: #FFF;
  border: solid 1px #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.bottom-middle-content-header{
  font-size: 30px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
}
body.dark .bottom-middle-content-header{
  color: #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03)
}

.ubralod-paragrafi{
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 30px;
}

body.dark .ubralod-paragrafi{
  color: #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.ubralod-paragrafi-2{
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 10px;
}

.ubralod-paragrafi-2 a{
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 10px;
}
.ubralod-paragrafi-2 a:hover{
  color: #00a2ff;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

body.dark .ubralod-paragrafi-2 a:hover{
  color: #00a2ff;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.ubralod-paragrafi-2 i{
  color: #00a2ff;
  margin-right: 20px;
}

body.dark .ubralod-paragrafi-2{
  color: #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}
body.dark .ubralod-paragrafi-2 a{
  color: #FFF;
  -webkit-transition: var(--tran-03);
  -o-transition: var(--tran-03);
  transition: var(--tran-03);
}

.social-media-wrapper{
  font-size: 30px;
  margin-top: 30px;
  color: #00a2ff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex ;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  
}

.social-media-wrapper i{
  cursor: pointer;
}
/* bottom section end */

/* footer */
.footer{
  width: 100%;
  height: 150px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center ;
      -ms-flex-pack:center ;
          justify-content:center ;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom:5px ;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  padding-top: 50px;
  padding-left: 200px;
}

body.dark .footer{
  color: #FFF;
  background-color: #242526;
}
/* footer */